<div class="container">
  <div class="py-5 text-center">
    <h2>Validación dinamica - Formularios reactivos</h2>
  </div>

  <div class="row">
    <div class="col-md-12 order-md-1">
      <form class="needs-validation" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-4 mb-3">
            <label for="identificationType">Tipo de Identificación</label>
            <select class="custom-select d-block w-100" id="identificationType" formControlName="identificationType"
              required #identification [ngClass]="{ 'is-invalid': submitted && f.identificationType.errors }" (change)="setKindPerson()">
              <option value="CD">Cedula de Ciudadania</option>
              <option value="CE">Cedula de Extranjeria</option>
              <option value="NIT">NIT</option>
              <option value="TI">Tarjeta de Identidad</option>
              <option value="PP">Pasaporte</option>
            </select>
            <div class="invalid-feedback" *ngIf="submitted && f.identificationType.invalid">
              <div *ngIf="f.identificationType.errors.required">
                Este campo es requerido
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="identificationNumber">Número Identificación</label>
            <input type="text" class="form-control" id="identificationNumber" placeholder=""
              formControlName="identificationNumber" required
              [ngClass]="{ 'is-invalid': submitted && f.identificationNumber.errors }">
            <div class="invalid-feedback" *ngIf="submitted && f.identificationNumber.invalid">
              <div *ngIf="f.identificationNumber.errors.required">
                Este campo es requerido
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="kindPerson">Tipo de Persona</label>
            <select class="custom-select d-block w-100" id="kindPerson" formControlName="kindPerson" required
              [ngClass]="{ 'is-invalid': submitted && f.kindPerson.errors }">
              <option value="PN">Persona Natural</option>
              <option value="PJ">Persona Juridica</option>
            </select>
            <div class="invalid-feedback" *ngIf="submitted && f.kindPerson.invalid">
              <div *ngIf="f.kindPerson.errors.required">
                Este campo es requerido
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="identification.value !== 'NIT'">
          <div class="col-md-6 mb-3">
            <label for="firstName">Nombres</label>
            <input type="text" class="form-control" id="firstName" placeholder="" formControlName="firstName" required
              [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
            <div class="invalid-feedback" *ngIf="submitted && f.firstName.invalid">
              <div *ngIf="f.firstName.errors.required">
                Este campo es requerido
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Apellidos</label>
            <input type="text" class="form-control" id="lastName" placeholder="" formControlName="lastName" required
              [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
            <div class="invalid-feedback" *ngIf="submitted && f.lastName.invalid">
              <div *ngIf="f.lastName.errors.required">
                Este campo es requerido
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="identification.value === 'NIT'">
          <div class="col-md-12 mb-3">
            <label for="businessName">Razon Social</label>
            <input type="text" class="form-control" id="businessName" placeholder="" formControlName="businessName"
              required [ngClass]="{ 'is-invalid': submitted && f.businessName.errors }">
            <div class="invalid-feedback" *ngIf="submitted && f.businessName.invalid">
              <div *ngIf="f.businessName.errors.required">
                Este campo es requerido
              </div>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="email">Email <span class="text-muted">(Optional)</span></label>
          <input type="email" class="form-control" id="email" placeholder="you@example.com" formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          <div class="invalid-feedback" *ngIf="submitted && f.email.invalid">
            <div *ngIf="f.email.errors.email">
              Ingrese un email valido
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="address">Dirección</label>
          <input type="text" class="form-control" id="address" placeholder="1234 Main St" formControlName="address"
            required [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
          <div class="invalid-feedback" *ngIf="submitted && f.address.invalid">
            <div *ngIf="f.address.errors.required">
              Este campo es requerido
            </div>
          </div>
        </div>

        <button class="btn btn-primary btn-lg btn-block" type="submit">Save</button>
      </form>
    </div>
  </div>
</div>